html {
    font-size: 100%;
}

body {
    
}

.botonSi {
    position: absolute !important;
    width: 100% !important;
    bottom: 63% !important;
    left: 20% !important;
    z-index: 9000 !important;
    color: aqua;
}

.botonNo {
    position: absolute !important;
    width: 100% !important;
    bottom: 63% !important;
    left: 42% !important;
    z-index: 9000 !important;
}
.boton3 {
    position: absolute !important;
    width: 100% !important;
    bottom: 63% !important;
    left: 64% !important;
    z-index: 9000 !important;
}
.boton4 {
    position: absolute !important;
    width: 100% !important;
    bottom: 35% !important;
    left: 20% !important;
    z-index: 9000 !important;
}
.boton5 {
    position: absolute !important;
    width: 100% !important;
    bottom: 35% !important;
    left: 42%  !important;
    z-index: 9000 !important;
}
.boton6 {
    position: absolute !important;
    width: 100% !important;
    bottom: 35% !important;
    left: 64% !important;
    z-index: 9000 !important;
}
.boton7 {
    position: absolute !important;
    width: 100% !important;
    bottom: 48% !important;
    left: 42% !important;
    z-index: 9000 !important;
}

.contenedorvideo {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.bar{
    width: 68%;
    margin: 0% 16%;
}
video {
    width: 100%;
}
.videod{
    text-align: center;
    padding: 0 16%;
}

.boton1 {
    color: aqua;
    font-size: 125% !important;
    padding-left: 3% !important;
    padding-right: 16%!important;
    padding-top: 4% !important;
    padding-bottom: 6%!important;
    display: none;
   
}

h6, h4 {
    color: white !important;
}
